@model Apresentacao.Models.Conta

@{
    ViewData["Title"] = "Excluir";
    Layout = "~/Views/Layout/_LayoutPadrao.cshtml";
}

<h1>EXCLUIR</h1>

<form asp-controller="Conta" asp-action="Excluir" method="post">
    <div class="form-group">
        <label asp-for="Descricao">Descrição:</label>
        <input disabled asp-for="Descricao" type="text" name="descricao" class="form-control" id="descricao">
    </div>
    @*<button type="reset" class="btn btn-primary">Cancelar</button>*@
    <button type="submit" class="btn btn-primary">Excluir</button>
</form>

